html, body {
	height:100%;
	margin:0;
}
.react-container {
	overflow:hidden;
	position:relative;
	width:100%;
}

* {
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family:Roboto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	user-select:none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor:default;
}

/** COLORS */
.color._white._background {
	background-color:white;
}
.color._white._text {
	color:white;
}

.color._black._background {
	background-color:#000;
	color:white;
}
.color._black._text {
	color:#000;
}

.color._medium-black._background {
	background-color:#161616;
	color:white;
}
.color._medium-black._text {
	color:#161616;
}

.color._dark-gray._background {
	background-color:#424242;
	color: white;
}
.color._dark-gray._text {
	color:#424242;
}

.color._medium-gray._background {
	background-color:#9b9b9b;
}
.color._medium-gray._text {
	color:#9b9b9b;
}

.color._light-gray._background {
	background-color:#e6e6e6;
}
.color._light-gray._text {
	color:#e6e6e6;
}

.color._orange._background {
	background-color:#E45B00;
	color: white;
}
.color._orange._text {
	color:#E45B00;
}
.color._orange._secondary._background {
	background-color:#F26A44;
	color: white;
}
.color._orange._secondary._text {
	color:#F26A44;
}

.color._green._background {
	background-color:#108285;
	color: white;
}
.color._green._text {
	color:#108285;
}
.color._green._secondary._background {
	background-color:#2E9598;
	color: white;
}
.color._green._secondary._text {
	color:#2E9598;
}

.color._red._background {
	background-color:#E30336;
	color: white;
}
.color._red._text {
	color:#E30336;
}
.color._red._secondary._background {
	background-color:#EC1B4B;
	color: white;
}
.color._red._secondary._text {
	color:#EC1B4B;
}


.color._yellow._background {
	background-color:#FBD01F;
	color: white;
}
.color._yellow._text {
	color:#FBD01F;
}
.color._yellow._secondary._background {
	background-color:#F7DB69;
	color: white;
}
.color._yellow._secondary._text {
	color:#F7DB69;
}

.color._purple._background {
	background-color:#AB035F;
	color: white;
}
.color._purple._text {
	color: #AB035F;
}
.color._purple._secondary._background {
	background-color:#A8216B;
	color: white;
}
.color._purple._secondary._text {
	color: #A8216B;
}

.color._dark-blue._background {
	background-color:#25415C;
	color: white;
}
.color._dark-blue._text {
	color: #25415C;
}
.color._dark-blue._secondary._background {
	background-color:#34495E;
	color: white;
}
.color._dark-blue._secondary._text {
	color: #34495E;
}

.color._skyblue._background {
	background-color:#02A9DB;
	color: white;
}
.color._skyblue._text {
	color: #02A9DB;
}
.color._skyblue._secondary._background {
	background-color:#39B0D4;
	color: white;
}
.color._skyblue._secondary._text {
	color: #39B0D4;
}

.color._danger._background {
	background-color:#e30336;
}
.color._danger._text {
	color:#e30336;
}

.color._success._background {
	background-color:#25c601;
}
.color._success._text {
	color:#25c601;
}

.color._info._background {
	background-color:#FBD01F;
}
.color._info._text {
	color:#FBD01F;
}

/** TEXT */

.text._Lato {
	font-family:Lato;
}
.text._Roboto {
	font-family:Roboto;
}

.text._light {
	font-weight:300;
}
.text._medium {
	font-weight:500;
}
.text._bold {
	font-weight:700;
}

.text._xl {
	font-size:33px;
}
.text._lg {
	font-size:24px;
}
.text._md {
	font-size:16px;
}
.text._sm {
	font-size:14px;
}
.text._xs {
	font-size:12px;
}
