.Button {
	height:36px;
	transition:opacity 0.3s, background-color 0.3s, box-shadow 0.3s;
	-moz-transition:opacity 0.3s, background-color 0.3s, box-shadow 0.3s;
	-webkit-transition:opacity 0.3s, background-color 0.3s, box-shadow 0.3s;
	text-transform:uppercase;
	padding-left:24px;
	padding-right:24px;
	margin:8px 0px 8px 8px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	font-weight:500;
}
.Button._right {
	margin:8px 8px 8px 0px;
	float:right;
}
.Button:not(._inverse):not(._round):active {
	opacity:0.8;
}
.Button._inverse:active {
	background-color:rgba(0,0,0,0.1);
}
.Button._round {
	width:56px;
	height:56px;
	border-radius:90px;
	font-size:32px;
	margin:0;
	padding:0;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.Button._corners {
	border-radius:2px;
}
.Button._round:active {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.Button._gray {
	border:solid 2px #ccc;
	color:#9b9b9b;
}
.Button._full {
	margin:0;
	width:100%;
	height:45px;
}
.Button:not(._inverse):disabled {
	cursor:default;
	background-color:#9b9b9b !important;
}
.Button._inverse:disabled {
	cursor:default;
	background-color:#e6e6e6 !important;
	color: white !important;
}
