.ImageEditor {
	border: solid 1px #ccc;
	position:relative;
}
.ImageEditor {
	cursor:-webkit-grab;
	cursor:-moz-grab;
	cursor:-ms-grab;
	cursor:grab;
}
.ImageEditor:active {
	cursor:-webkit-grabbing;
	cursor:-moz-grabbing;
	cursor:-ms-grabbing;
	cursor:grabbing;
}
