.profile_picture {
	width:100%;
	text-align:center;
}
.profile_picture > ._container {
	width:100%;
	-js-display:flex;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
}

.profile_picture > ._controls-container {
	width:100%;
	max-width:450px;
	padding:0 24px;
	margin-top:24px;
	display:inline-block;
}
.profile_picture > ._file-uploader {
	top:-100px;
	position:fixed;
}
.profile_picture > ._overlay {
	top:64px;
	width:100%;
	height:340px;
	position:absolute;
}
.profile_picture > ._ok {
	position:absolute;
	top:9.5px;
	right:12.5px;
}
